<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>

        <h1>Add a new Dish!</h1>
        <a href="/">Home</a>

        @model Dishes
        @using CRUDelicious_.Models

        <form asp-action="NewDish" asp-controller="Home" method="POST">

            <span asp-validation-for="Chef"></span>
            <label asp-for="Chef">Chef's Name</label>
            <input asp-for="Chef"><br>

            <span asp-validation-for="Name"></span>
            <label asp-for="Name">Name of Dish</label>
            <input asp-for="Name"><br>

            <span asp-validation-for="Calories"></span>
            <label asp-for="Calories"># of Calories</label>
            <input asp-for="Calories"><br>

            <span asp-validation-for="Tastiness"></span>
            <label asp-for="Tastiness">Tastiness</label>
            <select asp-for="Tastiness">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>

            <span asp-validation-for="Description"></span>
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description"></textarea><br>
            
            <input type="submit" value="Add Dish">

        </form>

    
</body>
</html>